@tailwind base;
@tailwind components;
@tailwind utilities;

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-primary-color {
  background-color: #5338f5;
}

.text-primary-color {
text-decoration: color(#5338f5);
}
